.form {
  display: flex;
}

.page__title {
  background-color: #492140;
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 24px;
  line-height: 16px;
  font-weight: 700;
  margin-bottom: 23px;
}

.form__field {
  margin-bottom: 22px;
  margin-left: 24px;
}

.form__field--label {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 21px;
}

.form__field--button {
  background: #da1bb0;
  border-radius: 8px;
  color: #ffffff;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 21px;
  margin-top: 2px;
}

a {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}
